<div class="col-lg-12 form-input-around">
    <div class="custom-control custom-checkbox"> 
        <input 
            id="checkbox1"  
            class="custom-control-input" 
            type="checkbox" 
            name="{{ name }}[value]" 
            value="1" 
            {% if value == 1 %}
                checked="true"
            {% endif %}
            {% if attr.disabled %}
                disabled="disabled"
            {% endif %}
        >
        <label for="checkbox1" class="custom-control-label">Zobrazit na hlavní stránce</label>
    </div>
</div>