<link rel="stylesheet" href="{{ __css__ }}partials/footer.css">

<!-- Footer -->
<footer class="lampion-footer bg-dark font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="http://www.matyasteply.eu"> Matyáš Teplý</a>
    </div>
    <!-- Copyright -->
  
</footer>
<!-- Footer -->

<script src="{{ __scripts__ }}vendor/prism/prism.js"></script>

</body>

</html>